<section class="section">
  <div class="container">
    <h1 class="title">Flight Results</h1>
    <% @flight_results.order(:departing_on).each do |flight| %>
      <div class="box is-size-5">
        <div class="columns">
          <div class="column">
            <div class="content"><strong>Departure Time:</strong> <%= flight.time.strftime("%l:%M %p") %></div>
            <div class="content"><strong>Duration: </strong><%= flight.duration / 60 %> hrs <%= (flight.duration % 60) %> mins</div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>